@function shape($which) {
  @return ('--sb-shape-',$which)
}

.Sweetbot {
  position: fixed;

  // Create redundant/default fallbacks in case user gives invalid value
  // accent color (header background, send button color)
  --default-accentColor: cyan;
  --accentColor: cyan;
  --sb-accentColor: var(--accentColor, --default-accentColor);

  // shapes
  --sb-shape-rounded: 25px 25px 10px 10px;
  --sb-shape-square: 3px;
  --default-shape: shape('rounded');
  --shape: 'rounded';
  --sb-shape: var(shape(--shape), --default-shape);

  margin: 0;
  padding: 0;
  border: var(--sb-shape);
  overflow: hidden;
  display: flex;

  > div {
    width: 100%;

    &:nth-of-type(1) {
      background-color: var(--sb-accentColor);
    }
    &:nth-of-type(2) {
      height: 100%;
      background-color: var(--sb-accentColor);
    }
    &:nth-of-type(3) {
      background-color: var(--sb-accentColor);
    }
  }
}
